body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#bootstrap-overrides {
  color: white;
  background-color: #26532B;
}

#bootstrap-overrides .jumbotron {
  background-color: #399E5A;
}

#bootstrap-overrides .container-fluid {
  margin-top: 2rem;
}

#bootstrap-overrides h5{
  font-weight: bold;
}

#bootstrap-overrides {
  font-family: "Nunito", sans-serif;
}

#bootstrap-overrides .btn-primary{
  background-color: #26532B;
  border-color: #26532B;
}

#bootstrap-overrides .btn-secondary{
  background-color: #26532B;
}


